<div class="panel panel-default">
    <div class="panel-heading">Novo usuário</div>
    <div class="panel-body">
        <form action="/users" method="POST">
            {{> users/_form }}
        </form>
    </div>
</div>