<div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" placeholder="Entre com e-mail" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Entre com a senha" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Entrar</button>
            </div>
        </form>
    </div>
</div>